[submodule "nanorc"]
	path = nanorc
	url = http://github.com/scopatz/nanorc.git
[submodule "LS_COLOURS"]
	path = LS_COLOURS
	url = http://github.com/trapd00r/LS_COLORS.git
[submodule "zsh-plugins/antigen"]
	path = zsh-plugins/antigen
	url = http://github.com/zsh-users/antigen.git
