[submodule "LS_COLOURS"]
	path = LS_COLOURS
	url = http://github.com/trapd00r/LS_COLORS.git
	branch = master
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "zsh-plugins/zsh-syntax-highlighting"]
	path = my-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "colorschemes"]
	path = colorschemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes
	branch = master
[submodule "my-zsh/plugins/pebble"]
	path = my-zsh/plugins/pebble
	url = https://github.com/Neal/pebble-zsh-completion.git
	branch = master
[submodule "gibo"]
	path = gibo
	url = https://github.com/simonwhitaker/gibo.git
	branch = master
[submodule "submodules/pure-theme"]
	path = submodules/pure-theme
	url = https://github.com/sindresorhus/pure.git
	branch = master
