include "~/.dotfiles/nano/c.nanorc"		## C/C++
include "~/.dotfiles/nano/fortran.nanorc"	## Fortran
include "~/.dotfiles/nano/html.nanorc"		## HTML
include "~/.dotfiles/nano/patch.nanorc"		## Patch files
include "~/.dotfiles/nano/man.nanorc"		## Manpages
include "~/.dotfiles/nano/perl.nanorc"		## Perl
include "~/.dotfiles/nano/python.nanorc"	## Python
include "~/.dotfiles/nano/reST.nanorc"		## reST
include "~/.dotfiles/nano/ruby.nanorc"		## Ruby
include "~/.dotfiles/nano/sh.nanorc"		## Bourne shell scripts
include "~/.dotfiles/nano/tex.nanorc"		## TeX
include "~/.dotfiles/nano/css.nanorc"		## CSS
include "~/.dotfiles/nano/php.nanorc"		## php
include "~/.dotfiles/nano/xml.nanorc"		## XML
include "~/.dotfiles/nano/lua.nanorc"		## Lua
