#ls -1 nanorc/*.nanorc | awk '{printf "include ~/.dotfiles/%s\n",$1}'
include ~/.dotfiles/nanorc/apacheconf.nanorc
include ~/.dotfiles/nanorc/asm.nanorc
include ~/.dotfiles/nanorc/awk.nanorc
include ~/.dotfiles/nanorc/c.nanorc
include ~/.dotfiles/nanorc/cmake.nanorc
include ~/.dotfiles/nanorc/coffeescript.nanorc
include ~/.dotfiles/nanorc/colortest.nanorc
include ~/.dotfiles/nanorc/conf.nanorc
include ~/.dotfiles/nanorc/csharp.nanorc
include ~/.dotfiles/nanorc/css.nanorc
include ~/.dotfiles/nanorc/cython.nanorc
include ~/.dotfiles/nanorc/dot.nanorc
include ~/.dotfiles/nanorc/email.nanorc
include ~/.dotfiles/nanorc/fish.nanorc
include ~/.dotfiles/nanorc/fortran.nanorc
include ~/.dotfiles/nanorc/gentoo.nanorc
include ~/.dotfiles/nanorc/git.nanorc
include ~/.dotfiles/nanorc/gitcommit.nanorc
include ~/.dotfiles/nanorc/glsl.nanorc
include ~/.dotfiles/nanorc/go.nanorc
include ~/.dotfiles/nanorc/groff.nanorc
include ~/.dotfiles/nanorc/haml.nanorc
include ~/.dotfiles/nanorc/html.nanorc
include ~/.dotfiles/nanorc/ini.nanorc
include ~/.dotfiles/nanorc/inputrc.nanorc
include ~/.dotfiles/nanorc/java.nanorc
include ~/.dotfiles/nanorc/javascript.nanorc
include ~/.dotfiles/nanorc/js.nanorc
include ~/.dotfiles/nanorc/json.nanorc
include ~/.dotfiles/nanorc/keymap.nanorc
include ~/.dotfiles/nanorc/kickstart.nanorc
include ~/.dotfiles/nanorc/ledger.nanorc
include ~/.dotfiles/nanorc/lisp.nanorc
include ~/.dotfiles/nanorc/lua.nanorc
include ~/.dotfiles/nanorc/makefile.nanorc
include ~/.dotfiles/nanorc/man.nanorc
include ~/.dotfiles/nanorc/markdown.nanorc
include ~/.dotfiles/nanorc/mpdconf.nanorc
include ~/.dotfiles/nanorc/mutt.nanorc
include ~/.dotfiles/nanorc/nanorc.nanorc
include ~/.dotfiles/nanorc/nginx.nanorc
include ~/.dotfiles/nanorc/patch.nanorc
include ~/.dotfiles/nanorc/peg.nanorc
include ~/.dotfiles/nanorc/perl.nanorc
include ~/.dotfiles/nanorc/php.nanorc
include ~/.dotfiles/nanorc/pkg-config.nanorc
include ~/.dotfiles/nanorc/pkgbuild.nanorc
include ~/.dotfiles/nanorc/po.nanorc
include ~/.dotfiles/nanorc/pov.nanorc
include ~/.dotfiles/nanorc/privoxy.nanorc
include ~/.dotfiles/nanorc/python.nanorc
include ~/.dotfiles/nanorc/reST.nanorc
include ~/.dotfiles/nanorc/rpmspec.nanorc
include ~/.dotfiles/nanorc/ruby.nanorc
include ~/.dotfiles/nanorc/sed.nanorc
include ~/.dotfiles/nanorc/sh.nanorc
include ~/.dotfiles/nanorc/sql.nanorc
include ~/.dotfiles/nanorc/systemd.nanorc
include ~/.dotfiles/nanorc/tex.nanorc
include ~/.dotfiles/nanorc/vala.nanorc
include ~/.dotfiles/nanorc/vi.nanorc
include ~/.dotfiles/nanorc/xml.nanorc
include ~/.dotfiles/nanorc/xresources.nanorc
include ~/.dotfiles/nanorc/yaml.nanorc
include ~/.dotfiles/nanorc/yum.nanorc
include ~/.dotfiles/nanorc/zshrc.nanorc

include ~/.dotfiles/nanorc-local/haskell.nanorc

set speller "aspell -c"
set morespace
#set nohelp
#set tempfile
set nowrap
set wordbounds
#set softwrap
