include ~/.dotfiles/nanorc/../nanorc/apacheconf.nanorc
include ~/.dotfiles/nanorc/../nanorc/asm.nanorc
include ~/.dotfiles/nanorc/../nanorc/cmake.nanorc
include ~/.dotfiles/nanorc/../nanorc/c.nanorc
include ~/.dotfiles/nanorc/../nanorc/conf.nanorc
include ~/.dotfiles/nanorc/../nanorc/css.nanorc
include ~/.dotfiles/nanorc/../nanorc/cython.nanorc
include ~/.dotfiles/nanorc/../nanorc/fortran.nanorc
include ~/.dotfiles/nanorc/../nanorc/gentoo.nanorc
include ~/.dotfiles/nanorc/../nanorc/gitcommit.nanorc
include ~/.dotfiles/nanorc/../nanorc/groff.nanorc
include ~/.dotfiles/nanorc/../nanorc/haml.nanorc
include ~/.dotfiles/nanorc/../nanorc/html.nanorc
include ~/.dotfiles/nanorc/../nanorc/java.nanorc
include ~/.dotfiles/nanorc/../nanorc/js.nanorc
include ~/.dotfiles/nanorc/../nanorc/lua.nanorc
include ~/.dotfiles/nanorc/../nanorc/man.nanorc
include ~/.dotfiles/nanorc/../nanorc/mutt.nanorc
include ~/.dotfiles/nanorc/../nanorc/nanorc.nanorc
include ~/.dotfiles/nanorc/../nanorc/patch.nanorc
include ~/.dotfiles/nanorc/../nanorc/perl.nanorc
include ~/.dotfiles/nanorc/../nanorc/php.nanorc
include ~/.dotfiles/nanorc/../nanorc/pkgbuild.nanorc
include ~/.dotfiles/nanorc/../nanorc/pov.nanorc
include ~/.dotfiles/nanorc/../nanorc/python.nanorc
include ~/.dotfiles/nanorc/../nanorc/reST.nanorc
include ~/.dotfiles/nanorc/../nanorc/ruby.nanorc
include ~/.dotfiles/nanorc/../nanorc/sh.nanorc
include ~/.dotfiles/nanorc/../nanorc/tex.nanorc
include ~/.dotfiles/nanorc/../nanorc/xml.nanorc
include ~/.dotfiles/nanorc/../nanorc/zshrc.nanorc

set speller "aspell -c"
set morespace
#set nohelp
#set tempfile
set nowrap
set wordbounds
#set softwrap
